@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-decoration-thickness-1 {
    text-decoration-thickness: 1px;
  }
  .text-decoration-thickness-2 {
    text-decoration-thickness: 2px;
  }
  .text-decoration-thickness-4 {
    text-decoration-thickness: 4px;
  }
}

body {
  @apply font-chivo;
}
* {
}
.inputsINStart {
  background-position: left 20px top 50%;
  background-repeat: no-repeat;
  background-size: 6%;
  border: 2px solid #c39353;
  padding: 14px 0 14px 50px;
  border-radius: 10px;
  background-color: #152c5e;
  color: #b6c8ef;
  font-size: 14px;
  &::placeholder {
    color: #b6c8ef;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  @media (min-width: 1000px) {
    font-size: 18px;
  }
}
